
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>User ID</mat-card-title>
      <mat-card-subtitle>{{usermodel.id}}</mat-card-subtitle>

      <mat-card-title>Firstname</mat-card-title>
      <mat-card-subtitle>{{usermodel.userName}}</mat-card-subtitle>

      <mat-card-title>Lastname</mat-card-title>
      <mat-card-subtitle>{{usermodel.surname}}</mat-card-subtitle>

      <mat-card-title>Contact No</mat-card-title>
      <mat-card-subtitle>{{usermodel.contactNo}}</mat-card-subtitle>

      <mat-card-title>Date of Birth</mat-card-title>
      <mat-card-subtitle>{{usermodel.birthDate}}</mat-card-subtitle>

      <mat-card-title>Joining Date</mat-card-title>
      <mat-card-subtitle>{{usermodel.joiningDate}}</mat-card-subtitle>

      <mat-card-title>Gender</mat-card-title>
      <mat-card-subtitle>{{usermodel.gender}}</mat-card-subtitle>

      <mat-card-title>Email</mat-card-title>
      <mat-card-subtitle>{{usermodel.email}}</mat-card-subtitle>

      <mat-card-title>Address</mat-card-title>
      <mat-card-subtitle>{{usermodel.address}}</mat-card-subtitle>

      <mat-card-title>Pincode</mat-card-title>
      <mat-card-subtitle>{{usermodel.pinCode}}</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-actions>
      <button mat-raised-button color="primary" class="btn btn-lg btn-block" (click)="goToViewAll()">
          View All
        </button>
    </mat-card-actions>
  </mat-card> <br/>
