<h1 class="mat-display-3" style="text-align: center;">Welcome to User Application</h1>
<h2 class="mat-display-1" style="text-align: center;">Please click button for user registration</h2>
<div class="wrapper">
    <button mat-raised-button class="btn btn-lg btn-outline-primary btn-block" (click)="goToUserReg()">
        Enter
    </button>
</div>