<mat-card>
    <form class="example-form" [formGroup]="form" (ngSubmit)="updateUser()">
      <div class="form-group">
      <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                  <mat-label>ID</mat-label>
                  <input matInput
                         formControlName="id"
                         id="id"
                         type="number"
                         [(ngModel)]="usermodel.id" 
                         >
                         <mat-error *ngIf="id.hasError('required')">
                          ID is <strong>required</strong>
                        </mat-error>
                </mat-form-field>
              </td> &nbsp;        
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input matInput
                     formControlName="userName"
                     id="userName"
                     type="text"
                     [(ngModel)]="usermodel.userName"
                     >
                     <mat-error *ngIf="userName.hasError('required')">
                      First Name is <strong>required</strong>
                    </mat-error>
                     <mat-error *ngIf="userName.hasError('minlength') && !userName.hasError('required')">
                      First Name should be minimum {{ userName.errors.minlength.requiredLength }} characters
                    </mat-error>
                    <mat-error *ngIf="userName.hasError('cannotContainSpace') && !userName.hasError('required')">
                      First Name cannot contain space
                    </mat-error>
            </mat-form-field>
          </td> &nbsp;
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input matInput                   
                     formControlName="surname"
                     id="surname"
                     type="text"
                     [(ngModel)]="usermodel.surname"
                     >
                     <mat-error *ngIf="surname.hasError('required')">
                      Last Name is <strong>required</strong>
                    </mat-error>
                     <mat-error *ngIf="surname.hasError('minlength') && !surname.hasError('required')">
                      Last Name should be minimum {{ surname.errors.minlength.requiredLength }} characters
                    </mat-error>
                    <mat-error *ngIf="surname.hasError('cannotContainSpace') && !surname.hasError('required')">
                      Last Name cannot contain space
                    </mat-error>       
            </mat-form-field>
          </td>
        </tr>
      </table>                                         
    
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="email" id="email" placeholder="Ex. pat@example.com" [(ngModel)]="usermodel.email">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>                               <br/><br/>
    
        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+91 &nbsp;</span>
          <input type="number" matInput 
                            placeholder="9991111777"
                            formControlName="contactNo"
                            id="contactNo"
                            [(ngModel)]="usermodel.contactNo">
          <mat-error *ngIf="contactNo.hasError('pattern') && !contactNo.hasError('required')">
            Please enter a valid 10 digit Telephone Number without space
          </mat-error>
          <mat-error *ngIf="contactNo.hasError('required')">
            Telephone Number is <strong>required</strong>
          </mat-error>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field> <br/> <br/>                    <br/>
    
        <mat-form-field appearance="fill">
          <mat-label>Choose birth date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthDate" id="birthDate" [max]="today" [(ngModel)]="usermodel.birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month" [startAt]="1"></mat-datepicker>
          <mat-error *ngIf="birthDate.hasError('required')">
            Birth date is <strong>required</strong>
          </mat-error>
        </mat-form-field> &nbsp; &nbsp; &nbsp;           <br/> 
    
        <mat-form-field appearance="fill">
          <mat-label>Choose joining date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="joiningDate" id="joiningDate" [min]="birthDate.value" [disabled]=!birthDate.value
          [(ngModel)]="usermodel.joiningDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 startView="month" [startAt]="1"></mat-datepicker>
          <mat-error *ngIf="joiningDate.hasError('required')">
            Joining date is <strong>required</strong>
          </mat-error>
        </mat-form-field><br/>                            <br/>
    
        <mat-radio-group aria-label="Select Gender" formControlName="gender" id="gender" [(ngModel)]="usermodel.gender">
          <mat-radio-button value="MALE">Male</mat-radio-button>
          <mat-radio-button value="FEMALE">Female</mat-radio-button>
        </mat-radio-group>                               
    
        <br/>
        <br/>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St" formControlName="address" id="address" [(ngModel)]="usermodel.address">1600 Amphitheatre Pkwy</textarea>
          <mat-error *ngIf="address.hasError('required')">
            Address is <strong>required</strong>
          </mat-error>
        </mat-form-field>                                  <br/>  
      </p>
    
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Postal Code</mat-label>
              <input matInput #postalCode maxlength="6" placeholder="Ex. 94105" value="940436"
                              formControlName="pinCode"
                              id="pinCode"
                              type="number"
                              [(ngModel)]="usermodel.pinCode">
              <mat-error *ngIf="pinCode.hasError('pattern') && !pinCode.hasError('required')">
                Please enter a valid 6 digit Pincode without space
              </mat-error>
              <mat-error *ngIf="pinCode.hasError('required')">
                Pincode is <strong>required</strong>
              </mat-error>
              <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
            </mat-form-field>                             <br/>
          </td>
        </tr>
      </table>
      <br/> <br/>
      </div>
      <button mat-raised-button color="primary" class="btn btn-lg btn-block" type="submit" [disabled]=!form.valid>
        Submit
      </button>
    </form>
    </mat-card> <br/>
