.example-form {
    margin: 0 auto;
    min-width: 150px;
    max-width: 750px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .button {
    color: black;
  }
